.jumbotron{
	background-color:yellow;
	color:black;
	margin-top: 50px;
}
.footer{
	padding: 10px 10px 0px 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top:30px;
}
.card-brand{
	flex: 1 150px;
	padding: 2px 2px 2px 2px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
}
.planes{
	margin-top: 20px;
}
.footer-icon{
	padding-right: 10px;
}